
h1{
    color:blue;
    font-size: 3em;
    border: 3px dotted purple ;
    padding:15px;
    }

    .myclass{
      background-color: yellow;
    }
ul{
    background-color:pink;
      font-size: 1em;
    border:3px dotted purple;
    color:blue;
    transition: 0.3s ease;
  }
ol{
  background-color:pink;
  font-size: 1em;
  border:3px dotted purple;
  color:blue;
  transition:0.2s ease;
}
li:hover{
  font-size: 3em;
}
img  {
  border:10px purple solid;
  width:600px;
   height:200px;
 }
 li{transition: 0.3s ease;
 }
 p{color:purple;
   border:3px dotted purple
   font-size:17px;
 }
 body{background-color:yellow;
 }
